<h1>Add/Edit Showtimes for <%= @showtimes.movie.name %></h1>
<%= form_tag '/showtimes', method: :post do %>
  <select name="theater_id">
    <% @theaters.each do |supplier| %>
      <option value="<%= theater.id %>" <%= 'selected="selected"' if theater.id == @movie.theater_id %>><%= theater.name %></option>
    <% end %>
  </select>

  <div><h4>Movie Showtimes(seperated by commas):</h4>
    <input type="text" name="input_times" placeholder="11:00, 12:00, 13:00">
    (seperatied by commas)
  </div>
  <div></div>
  <input type="submit" name="Add">
<% end %>